@import '~iview/src/styles/index.less';

@btn-ghost-bg: #fff;
@btn-padding-base: 6px 20px;
@btn-font-weight: bold;
@btn-font-size: 14px;
@tag-font-size: 14px;
.hide_footer .ivu-modal-footer {
    display: none;
}